* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.main-container {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
  align-items: center;
  align-content: center;
}

.form-title {
  width: 100%;
}

.form-information {
  margin: 10px;
  padding: 10px;
}

.inputContainer > *{
  margin: 10px;
  display: inline;
}

.inputSizeFull{
  width: 100%;
}

.inputSizeThird {
  width: 32.85%;
}
.inputSizeAuto {
  width: auto;
}

.contact {
  display: inline-block;
}

.button {
  border-radius: 50%;
  padding: 1px 5px;
  cursor: pointer;
  margin: 0 3px;
}

.almaMater-container{
  margin: 2% 0;
  padding: 5px;
}